* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sens-serif;
}

body {
    background: black;
}

#logo img {
    position: relative;
    top: 5px;
    left: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s linear;
    
}
#logo img:hover{
    overflow: hidden;
    perspective: 1000px;
    perspective-origin: right bottom;
    transform: rotateY(13deg);
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.2)
}


hr {
    position: relative;
    top: 0px;
    filter: opacity(0.1);
}

h2 {
    font-size: 70px;
    position: absolute;
    color: white;
    left: 510px;
    top: 8px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(135deg, #5433FF, #A5FECB, #20BDFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section #list {
    position: relative;
    border: none;
    outline: none;
    width: 750px;
    height: 500px;
    top: 12px;
    left: 320px;
    border-radius: 40px;
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    scroll-behavior: smooth;
    box-shadow: 2px 3px 15px 0 #15adf4 inset, 2px 3px 5px 0 #15f4ee, 2px 3px 5px 0 #15f4ed, 5px 3px 15px 0 #15f472;
}

#list img {
    width: 80px;
    height: 80px;
    position: relative;
    left: 10px;
    filter: drop-shadow(10px 5px 4px);
}

#list h3 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    font-family: 'candara';
    top: 10px;
    color: rgba(255, 255, 255, 0.49);
    text-shadow: 4px 4px 3px #f1f1f1;
}

input {
    position: relative;
    height: 40px;
    margin: 0 0 0 80px;
    top: 40px;
    left: 40px;
    width: 360px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(141, 144, 153, 0.3);
    padding: 0px 70px 0 5px;
    color: white;
    font-size: 1.1em;
}

button {
    position: relative;
    top: 39.5px;
    margin: 0;
    left: -20px;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.item {

    background: transparent;
    height: 7060%;
    width: 680px;
    position: relative;
    top: 80px;
    left: -2px;
    border-radius: 40px;
}

li {
    position: relative;
    list-style: none;
    cursor: pointer;
    left: 70px;
    top: 20px;
    padding: 4.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
}

li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7.4px;
    left: -30px;
}

.checked {
    color: #555;
    text-decoration: line-through;
}

.checked::before {
    background-image: url(checked.png);
}

span {
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    top: -3.5px;
    right: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}

span:hover {
    background: rgba(255, 255, 255, 0.397);

}
